body {
    margin: 0;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


.left-side-bar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0px;
    /* background-image: url('imagini/vg-bar.jpg');  */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;  */
    width: 50vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    padding-left: 2vh;
}

.left-side-bar a {
    text-decoration: none;
    color: rgb(219, 241, 219);
    font-size: 3vh;
    position: relative;
    cursor: pointer;
}



html {
    scroll-behavior: smooth;
}

#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9,#section10,#section11 {
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}

.image{
    position: absolute;
    left:54vh;
    height: 95vh;
    margin-top: 1.2%;
    border-radius: 1.5%;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.6);
}


.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    background: rgb(221, 232, 221);
    background-attachment: sroll;
}

.icons{
    height: 7vh;
    width: 7vh;
    cursor:pointer;
    position: absolute;
    top:-2.5vh;
    left:-2.3vh;
}

.icn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background-color: #001220;
    height: 10vh;
    width: 20vh;
    position: relative;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1vh;
    transition: transform 0.3s ease-in;
    text-align: center;
}

.icn-text:hover{
    transform:  translate(0px, -4px);
    background: #009473;
}

.twoByTwo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:3vh;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    position: fixed;
    top:35vh;
    right:6vh;
    z-index: 2;
}

.sm {
    margin-bottom: 2vh;
}

.sm img {
    height: 8vh;
    width: 8vh;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 1.7vh;
    transition: box-shadow 0.5s ease;
}

.sm img:hover {
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.6);
}

.editButton{
    text-decoration: none;
    position : absolute;
    top:13vh;
    left: 180vh;
    z-index: 2;
    background-color: #001220;
    color: rgb(219, 241, 219);
    padding: 1.1vh 1.57vh;
    border: solid 0.09vh black;
    border-radius: 1.5vh;
    cursor: pointer;
    font-size: 3vh;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.3s ease-in;
}

.editButton:hover {
    background-color:#009473;
    transform:  translate(10px, 0px);
}

.container-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}

.animation-preloader {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    gap:5vh;
}


.spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 5vh solid rgb(219, 241, 219);
    border-top-color: #009473;
    height: 20vh;
    width: 20vh;
}

.loader-section {
    background-color: #001220;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.txt-loading img{
    width: 40vh;
}

.success-message {
    background-color: #001220;
    padding: 2vh 3vh;
    color: rgb(219, 241, 219);
    border-radius: 1vh;
    z-index: 3;
    font-size: 3.2vh;
}

.success-message-container{
    display: flex;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 1025px) {

    #section1,
    #section2,
    #section3,
    #section4,
    #section5,
    #section6,
    #section7,
    #section8,
    #section9,
    #section10 {
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        position:initial;
    }

    .left-side-bar{
        justify-content: center;
        gap: 3vh;
        background-color: orange;
        width: auto;
        height: auto;
        left: initial;
        padding-right: 1vw;
    }

    .icn-text{
        width: 12vh;
        height: 5vh;
    }

    .left-side-bar a{
        font-size: 2.2vh;
    }

    .icons{
        width: 4.5vh;
        height: 4.5vh;
        top:-1.5vh;
        left: -1.3vh;
    }

    .editButton{
        left:146vh;
    }

}

@media screen and (max-width: 769px){
    .image{
        height: 86vh;
    }

    .left-side-bar{
        gap:1vh;
        width: 60vw;
        height: auto;
        top: initial;
        flex-direction: row;
        background-color: transparent;
        padding: 1vh 0;
        background-color: orange;
        border-top-right-radius: 2vh;
    }

    .left-side-bar a{
        font-size: 1.8vh;
    }

    .icn-text{
        width: 10vh;
        height: 4vh;
    }

    .icons{
        width: 3.5vh;
        height: 3.5vh;
        top:-0.5vh;
        left: -1vh;
    }

    .editButton{
        left:115vh;
    }

    .sm img{
        height: 6vh;
        width: 6vh;
    }

    .twoByTwo{
        flex-direction: column;
        gap: 1.5vh;
    }
}




@media screen and (max-width: 426px){
    .image{
        height: 50vh;
    }

    .left-side-bar{
        left:0;
        gap: 0.4vw;
        flex-direction: row;
        width: 100%;
        height: auto;
        top: auto;
        bottom: 0;
    }

    .twoByTwo{
        flex-direction: column;
    }

    .editButton{
        left:54vh;
        top:21vh;
    }

    .social-media{
        top:11vh;
        right: 23vh;
        gap: 2vh;
        flex-direction: row;
    }

    .icons{
        top: -2.5vh;
        left: 4vh;
    }
}

@media screen and (max-width: 376px){
    .image{
        height: 44vh;
    }

    .left-side-bar{
        left:0;
        gap: 1vh;
        flex-direction: row;
        width: 100%;
        height: auto;
        top: auto;
    }

    .twoByTwo{
        flex-direction: column;
    }

    .editButton{
        left:39vh;
        top:24vh;
    }

    .social-media{
        top:11vh;
        right: 20vh;
        gap: 2vh;
        flex-direction: row;
    }

    .icn-text{
        padding: 0.2vh 0.2vw;
    }
}

@media screen and (max-width: 321px){
    .image{
        height: 38vh;
    }

    .left-side-bar{
        left:0;
        gap: 1vh;
        flex-direction: row;
        width: 100%;
        height: auto;
        bottom: 5vh;
        top: auto;
    }

    .twoByTwo{
        flex-direction: column;
    }

    .editButton{
        left:39vh;
        top:27vh;
    }

    .social-media{
        top:11vh;
        right: 15vh;
        gap: 2vh;
        flex-direction: row;
    }

    .left-side-bar a{
        font-size: 1.4vh;
    }

    .icn-text{
        width: 15vw;
    }
}